body {
    background-color: skyblue;
    font-family: ui-sans-serif
}

h1 {
    color:blue;
    text-align:center;
}
p {
    font-size: 18px;
    color:gray;
    line-height: 2.0;
}
a {
    color:green;
    text-decoration: none;
}
.card {
    background: lightgoldenrodyellow;
    border: 1px outset #ddd;
    border-radius: 6px;
    padding: 15px;
    width: 200px;    
}
